## Common DEGs between Pulmonary Arterial Hypertension and Covid Patients

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_PAH_down = pd.read_excel('pulmonaryHypertensionDEG_Pvalue.xlsx',sheet_name='downRegulated')

In [3]:
df_PAH_down.head(2)

,Unnamed: 0,ID,adj.P.Val,P.Value,t,B,logFC,GeneName,SPOT_ID,absolute_logFC
0,0,7768,2.740000e-07,2.900000e-10,-8.160224,13.325090,-1.047996,LHFPL2,NaN,1.047996
1,1,38255,3.620000e-07,6.100000e-10,-7.931794,12.614162,-1.020808,TPM1,NaN,1.020808

In [4]:
df_PAH_down.shape

(217, 10)

In [5]:
df_PAH_up = pd.read_excel('pulmonaryHypertensionDEG_Pvalue.xlsx',sheet_name='upRegulated')

In [6]:
df_PAH_up.head(2)

,Unnamed: 0,ID,adj.P.Val,P.Value,t,B,logFC,GeneName,SPOT_ID,absolute_logFC
0,0,5599,2.740000e-07,2.630000e-10,8.190054,13.417526,1.047097,PLEKHA1,NaN,1.047097
1,1,17108,5.830000e-07,1.140000e-09,7.740180,12.013847,1.009458,ECHDC2,NaN,1.009458

In [7]:
df_PAH_up.shape

(33, 10)

In [8]:
df_covid_down = pd.read_excel('covidDEGs.xlsx',sheet_name='downRegulated')

In [9]:
df_covid_down.head(2)

,Unnamed: 0,index,Gid,GENE_SYMBOL,CPM-N1,CPM-N2,CPM-N3,CPM-P1,CPM-P2,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,0,0,ENSG00000134184.13,GSTM1,7.34,4.62,6.22,0.07,0.21,0.21,290.84,-5.01,5.01,0.36,-13.82,1.920000e-43,5.440000e-39,38.264401,Down
1,1,2,ENSG00000233392.5,AC104809,13.87,5.25,11.97,0.02,0.26,0.09,462.90,-6.13,6.13,0.60,-10.27,9.900000e-25,9.360000e-21,20.028724,Down

In [10]:
df_covid_down.shape

(599, 19)

In [11]:
df_covid_up = pd.read_excel('covidDEGs.xlsx',sheet_name='upRegulated')

In [12]:
df_covid_up.head(2)

,Unnamed: 0,index,Gid,GENE_SYMBOL,CPM-N1,CPM-N2,CPM-N3,CPM-P1,CPM-P2,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,0,1,ENSG00000211934.3,IGHV1,0.46,0.25,0.36,5.14,20.56,63.93,1361.64,6.36,6.36,0.60,10.51,7.580000e-26,1.070000e-21,20.970616,Up
1,1,3,ENSG00000198848.12,CES1,3.84,0.83,4.96,185.00,76.06,398.24,12508.37,6.53,6.53,0.65,10.12,4.690000e-24,3.330000e-20,19.477556,Up

In [13]:
df_covid_up.shape

(1146, 19)

In [14]:
df_PAH_covid_down = pd.merge(df_PAH_down,df_covid_down,how='inner',left_on='GeneName',right_on='GENE_SYMBOL')

In [15]:
df_PAH_covid_up = pd.merge(df_PAH_up,df_covid_up,how='inner',left_on='GeneName',right_on='GENE_SYMBOL')

In [16]:
df_PAH_covid_down

,Unnamed: 0_x,ID,adj.P.Val,P.Value,t,B,logFC,GeneName,SPOT_ID,absolute_logFC,...,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,213,38638,0.0412,0.017,-2.484247,-3.647935,-1.188567,LTF,NaN,1.188567,...,17.82,1698.3,-1.88,1.88,0.66,-2.86,0.00429,0.0438,1.358526,NC

In [17]:
df_PAH_covid_down[['GeneName','GENE_SYMBOL']]

  GeneName GENE_SYMBOL
0      LTF         LTF

In [18]:
df_PAH_covid_down['GeneName'].nunique()

1

In [19]:
df_PAH_covid_down['GeneName'].unique()

array(['LTF'], dtype=object)

In [20]:
df_PAH_covid_up

,Unnamed: 0_x,ID,adj.P.Val,P.Value,t,B,logFC,GeneName,SPOT_ID,absolute_logFC,...,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,28,47294,0.000168,0.00001,4.995212,3.263997,1.121115,FCRL5,NaN,1.121115,...,58.11,1965.94,2.28,2.28,0.5,4.55,0.000005,0.000296,3.528708,Up

In [21]:
df_PAH_covid_up[['GeneName','GENE_SYMBOL']]

  GeneName GENE_SYMBOL
0    FCRL5       FCRL5

In [22]:
df_PAH_covid_up['GeneName'].nunique()

1

In [23]:
df_PAH_covid_up['GeneName'].unique()

array(['FCRL5'], dtype=object)

In [24]:
df_output_down = df_PAH_covid_down['GENE_SYMBOL']

In [25]:
df_output_up = df_PAH_covid_up['GENE_SYMBOL']

In [32]:
df_output_all = pd.merge(df_PAH_covid_down,df_PAH_covid_up,how='outer')
df_output_all

,Unnamed: 0_x,ID,adj.P.Val,P.Value,t,B,logFC,GeneName,SPOT_ID,absolute_logFC,...,CPM-P3,baseMean,log2FoldChange,abslFC,lfcSE,stat,pvalue,padj,log10P,Tag
0,213,38638,0.041200,0.01700,-2.484247,-3.647935,-1.188567,LTF,NaN,1.188567,...,17.82,1698.30,-1.88,1.88,0.66,-2.86,0.004290,0.043800,1.358526,NC
1,28,47294,0.000168,0.00001,4.995212,3.263997,1.121115,FCRL5,NaN,1.121115,...,58.11,1965.94,2.28,2.28,0.50,4.55,0.000005,0.000296,3.528708,Up

In [42]:
df_all = df_output_all[['P.Value','logFC','GeneName']]

In [34]:
#df_output_all[['logFC','GeneName']]

      logFC GeneName
0 -1.188567      LTF
1  1.121115    FCRL5

In [36]:
writer = pd.ExcelWriter('covidPAH_commonDEGs_Pvalue.xlsx',engine='xlsxwriter')

In [45]:
writerPvalLogFC = pd.ExcelWriter('PAH_covid_all.xlsx',engine='xlsxwriter')

In [38]:
df_output_down.to_excel(writer,sheet_name='downRegulated')

In [39]:
df_output_up.to_excel(writer,sheet_name='upRegulated')

In [46]:
df_all.to_excel(writerPvalLogFC)

In [47]:
writer.save()
writer.close()
writerPvalLogFC.save()
writerPvalLogFC.close()