In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('idiopathicPortalHypertensionGSE69601.xlsx')

In [3]:
df.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
0,8149116,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...
1,8149126,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...
2,8149137,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...
3,7991562,0.888,0.000295,6.62,-4.22,1.24,PRKXP1,"protein kinase, X-linked, pseudogene 1"
4,7930915,0.888,0.000465,6.14,-4.23,2.12,NaN,NaN

In [4]:
df.shape

(29096, 8)

### Checking and removing null values: where Gene.symbol is null

In [5]:
df.isna().sum()

ID                0
adj.P.Val         0
P.Value           0
t                 0
B                 0
logFC             0
Gene.symbol    6901
Gene.title     6901
dtype: int64

In [6]:
df.dropna(inplace=True,axis=0,subset=['Gene.symbol'])

In [7]:
df.shape

(22195, 8)

In [8]:
df.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
0,8149116,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...
1,8149126,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...
2,8149137,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...
3,7991562,0.888,0.000295,6.62,-4.22,1.24,PRKXP1,"protein kinase, X-linked, pseudogene 1"
6,7979307,0.888,0.000789,5.62,-4.24,1.79,DLGAP5,DLG associated protein 5

In [9]:
#df.drop(['GB_ACC'],axis=1,inplace=True)

In [12]:
#pd.set_option('display.max_row',None)
#df

In [9]:
df.isna().sum()

ID             0
adj.P.Val      0
P.Value        0
t              0
B              0
logFC          0
Gene.symbol    0
Gene.title     0
dtype: int64

In [13]:
#df.dropna(inplace=True,axis=0,subset=['adj.P.Val'])

In [11]:
#df.isna().sum()

In [10]:
#df.head()

In [13]:
df.shape

(22195, 8)

In [14]:
#index_name = df[df['SPOT_ID'].notnull()].index

In [15]:
#df.drop(index_name, inplace=True)

In [16]:
#df.head()

In [17]:
df.shape

(22195, 8)

### Consider the rows where adj.P.Val are less than 0.05

In [21]:
#count rows where adj.P.Val are equal to or greater than 0.05
df.loc[df['P.Value'] >= 0.05].count()

ID             21425
adj.P.Val      21425
P.Value        21425
t              21425
B              21425
logFC          21425
Gene.symbol    21425
Gene.title     21425
dtype: int64

In [22]:
#remove the rows where adj.P.Val are equal to or greater than 0.05
index_names = df[df['P.Value'] >= 0.05].index
df.drop(index_names, inplace=True)

In [23]:
df.shape

(770, 8)

In [24]:
df.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
0,8149116,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...
1,8149126,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...
2,8149137,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...
3,7991562,0.888,0.000295,6.62,-4.22,1.24,PRKXP1,"protein kinase, X-linked, pseudogene 1"
6,7979307,0.888,0.000789,5.62,-4.24,1.79,DLGAP5,DLG associated protein 5

### Find the absolute values of logFC, and take the rows where absolute values of logFC >= 1

In [25]:
df['absolute_logFC'] = df['logFC'].abs()

In [26]:
df.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,8149116,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
1,8149126,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
2,8149137,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
3,7991562,0.888,0.000295,6.62,-4.22,1.24,PRKXP1,"protein kinase, X-linked, pseudogene 1",1.24
6,7979307,0.888,0.000789,5.62,-4.24,1.79,DLGAP5,DLG associated protein 5,1.79

In [27]:
#count the number of rows where absolute_logGC < 1
df[df['absolute_logFC'] < 1].count()

ID                527
adj.P.Val         527
P.Value           527
t                 527
B                 527
logFC             527
Gene.symbol       527
Gene.title        527
absolute_logFC    527
dtype: int64

In [28]:
#remove the rows where the values of absolute_logFC are less than 1
index_names = df[df['absolute_logFC'] < 1].index
df.drop(index_names, inplace=True)

In [29]:
#pd.set_option('display.max_row',None)
df

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,8149116,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
1,8149126,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
2,8149137,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
3,7991562,0.888,0.000295,6.62,-4.22,1.24,PRKXP1,"protein kinase, X-linked, pseudogene 1",1.24
6,7979307,0.888,0.000789,5.62,-4.24,1.79,DLGAP5,DLG associated protein 5,1.79
...,...,...,...,...,...,...,...,...,...
976,8174051,0.888,0.048623,2.38,-4.44,1.07,BTK,Bruton tyrosine kinase,1.07
977,7908553,0.888,0.048664,2.38,-4.44,1.00,PTPRC,"protein tyrosine phosphatase, receptor type C",1.00
990,8075910,0.888,0.048925,2.38,-4.44,1.04,RAC2,ras-related C3 botulinum toxin substrate 2 (rh...,1.04
1023,8022338,0.888,0.049912,-2.36,-4.44,-1.88,LOC100996333///ADGRA3,G protein-coupled receptor 125 pseudogene///ad...,1.88
1024,8110966,0.888,0.049998,2.36,-4.44,1.26,FAM173B,family with sequence similarity 173 member B,1.26

In [30]:
df.shape

(243, 9)

In [31]:
#df[df['GeneName'].str.match('LOC',na=False)]

In [32]:
#index_name = df[df['GeneName'].str.match('LOC',na=False)].index
#df.drop(index_name,inplace=True)

In [33]:
#df.shape

In [34]:
#df

### Differentially Expressed Genes

In [35]:
#number of down regulatd genes
df.loc[df['logFC'] < 0].count()

ID                29
adj.P.Val         29
P.Value           29
t                 29
B                 29
logFC             29
Gene.symbol       29
Gene.title        29
absolute_logFC    29
dtype: int64

In [36]:
#number of up regulated genges
df.loc[df['logFC'] > 0].count()

ID                214
adj.P.Val         214
P.Value           214
t                 214
B                 214
logFC             214
Gene.symbol       214
Gene.title        214
absolute_logFC    214
dtype: int64

In [37]:
df_downRegulated = df.loc[df['logFC'] < 0]

In [38]:
df_upRegulated = df.loc[df['logFC'] > 0]

In [39]:
df_downRegulated.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
49,8069340,0.888,0.004212,-4.16,-4.30,-1.03,YBEY,ybeY metallopeptidase (putative),1.03
52,7972682,0.888,0.004472,-4.11,-4.30,-1.20,KDELC1,KDEL motif containing 1,1.20
79,7976488,0.888,0.006005,-3.88,-4.31,-1.20,SERPINA5,serpin family A member 5,1.20
84,8143597,0.888,0.006412,-3.83,-4.32,-1.20,TCAF1,TRPM8 channel associated factor 1,1.20
91,8104746,0.888,0.006886,-3.78,-4.32,-1.19,NPR3,natriuretic peptide receptor 3,1.19

In [40]:
df_upRegulated.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,8149116,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
1,8149126,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
2,8149137,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
3,7991562,0.888,0.000295,6.62,-4.22,1.24,PRKXP1,"protein kinase, X-linked, pseudogene 1",1.24
6,7979307,0.888,0.000789,5.62,-4.24,1.79,DLGAP5,DLG associated protein 5,1.79

In [41]:
df_downRegulated.reset_index(inplace=True)

In [42]:
df_upRegulated.reset_index(inplace=True)

In [43]:
df_downRegulated.head()

,index,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,49,8069340,0.888,0.004212,-4.16,-4.30,-1.03,YBEY,ybeY metallopeptidase (putative),1.03
1,52,7972682,0.888,0.004472,-4.11,-4.30,-1.20,KDELC1,KDEL motif containing 1,1.20
2,79,7976488,0.888,0.006005,-3.88,-4.31,-1.20,SERPINA5,serpin family A member 5,1.20
3,84,8143597,0.888,0.006412,-3.83,-4.32,-1.20,TCAF1,TRPM8 channel associated factor 1,1.20
4,91,8104746,0.888,0.006886,-3.78,-4.32,-1.19,NPR3,natriuretic peptide receptor 3,1.19

In [44]:
df_downRegulated.drop(['index'],axis=1,inplace=True)

C:\Users\asifn\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [45]:
df_upRegulated.head()

,index,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,0,8149116,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
1,1,8149126,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
2,2,8149137,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
3,3,7991562,0.888,0.000295,6.62,-4.22,1.24,PRKXP1,"protein kinase, X-linked, pseudogene 1",1.24
4,6,7979307,0.888,0.000789,5.62,-4.24,1.79,DLGAP5,DLG associated protein 5,1.79

In [46]:
df_upRegulated.drop(['index'],axis=1,inplace=True)

In [47]:
df_upRegulated.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,8149116,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
1,8149126,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
2,8149137,0.888,0.000168,7.24,-4.20,2.94,DEFA1B///DEFA3///DEFA1,defensin alpha 1B///defensin alpha 3///defensi...,2.94
3,7991562,0.888,0.000295,6.62,-4.22,1.24,PRKXP1,"protein kinase, X-linked, pseudogene 1",1.24
4,7979307,0.888,0.000789,5.62,-4.24,1.79,DLGAP5,DLG associated protein 5,1.79

In [48]:
writer = pd.ExcelWriter('idiopathicPortalHypertensionDEG.xlsx',engine='xlsxwriter')

In [49]:
df_downRegulated.to_excel(writer,sheet_name='downRegulated')

In [50]:
df_upRegulated.to_excel(writer,sheet_name='upRegulated')

In [51]:
writer.save()
writer.close()