In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('preeclamsiaHypertensionGSE48424.xlsx')

In [3]:
df.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
0,A_23_P80062,0.00586,3.170000e-07,6.225326,6.459465,0.911071,TAF4,TATA-box binding protein associated factor 4
1,A_32_P64990,0.00586,3.670000e-07,-6.177732,6.327744,-0.575590,NaN,NaN
2,A_23_P325802,0.00586,4.410000e-07,6.118760,6.164347,0.870872,USP15,ubiquitin specific peptidase 15
3,A_23_P206413,0.00586,5.910000e-07,-6.024602,5.903080,-0.592237,NaN,NaN
4,A_32_P207243,0.00586,7.680000e-07,-5.940304,5.668819,-0.814325,NaN,NaN

In [4]:
df.shape

(41000, 8)

### Checking and removing null values: where Gene.symbol is null

In [5]:
df.isna().sum()

ID                 0
adj.P.Val          0
P.Value            0
t                  0
B                  0
logFC              0
Gene.symbol    10277
Gene.title     10277
dtype: int64

In [6]:
df.dropna(inplace=True,axis=0,subset=['Gene.symbol'])

In [7]:
df.shape

(30723, 8)

In [8]:
df.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
0,A_23_P80062,0.00586,3.170000e-07,6.225326,6.459465,0.911071,TAF4,TATA-box binding protein associated factor 4
2,A_23_P325802,0.00586,4.410000e-07,6.118760,6.164347,0.870872,USP15,ubiquitin specific peptidase 15
5,A_23_P324718,0.00586,8.580000e-07,5.904928,5.570423,1.119439,SYNJ1,synaptojanin 1
6,A_23_P256526,0.00737,1.260000e-06,-5.780862,5.225014,-0.955485,ZNF80,zinc finger protein 80
7,A_24_P123190,0.00737,1.610000e-06,5.702846,5.007608,1.536447,PLD1,phospholipase D1

### Consider the rows where adj.P.Val are less than 0.05

In [9]:
#count rows where adj.P.Val are equal to or greater than 0.05
df.loc[df['P.Value'] >= 0.05].count()

ID             25475
adj.P.Val      25475
P.Value        25475
t              25475
B              25475
logFC          25475
Gene.symbol    25475
Gene.title     25475
dtype: int64

In [10]:
#remove the rows where adj.P.Val are equal to or greater than 0.05
index_names = df[df['P.Value'] >= 0.05].index
df.drop(index_names, inplace=True)

In [11]:
df.shape

(5248, 8)

In [12]:
df.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
0,A_23_P80062,0.00586,3.170000e-07,6.225326,6.459465,0.911071,TAF4,TATA-box binding protein associated factor 4
2,A_23_P325802,0.00586,4.410000e-07,6.118760,6.164347,0.870872,USP15,ubiquitin specific peptidase 15
5,A_23_P324718,0.00586,8.580000e-07,5.904928,5.570423,1.119439,SYNJ1,synaptojanin 1
6,A_23_P256526,0.00737,1.260000e-06,-5.780862,5.225014,-0.955485,ZNF80,zinc finger protein 80
7,A_24_P123190,0.00737,1.610000e-06,5.702846,5.007608,1.536447,PLD1,phospholipase D1

### Find the absolute values of logFC, and take the rows where absolute values of logFC >= 1

In [13]:
df['absolute_logFC'] = df['logFC'].abs()

In [14]:
df.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,A_23_P80062,0.00586,3.170000e-07,6.225326,6.459465,0.911071,TAF4,TATA-box binding protein associated factor 4,0.911071
2,A_23_P325802,0.00586,4.410000e-07,6.118760,6.164347,0.870872,USP15,ubiquitin specific peptidase 15,0.870872
5,A_23_P324718,0.00586,8.580000e-07,5.904928,5.570423,1.119439,SYNJ1,synaptojanin 1,1.119439
6,A_23_P256526,0.00737,1.260000e-06,-5.780862,5.225014,-0.955485,ZNF80,zinc finger protein 80,0.955485
7,A_24_P123190,0.00737,1.610000e-06,5.702846,5.007608,1.536447,PLD1,phospholipase D1,1.536447

In [15]:
#count the number of rows where absolute_logGC < 1
df[df['absolute_logFC'] < 1].count()

ID                5107
adj.P.Val         5107
P.Value           5107
t                 5107
B                 5107
logFC             5107
Gene.symbol       5107
Gene.title        5107
absolute_logFC    5107
dtype: int64

In [16]:
#remove the rows where the values of absolute_logFC are less than 1
index_names = df[df['absolute_logFC'] < 1].index
df.drop(index_names, inplace=True)

In [17]:
#pd.set_option('display.max_row',None)
df

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
5,A_23_P324718,0.00586,8.580000e-07,5.904928,5.570423,1.119439,SYNJ1,synaptojanin 1,1.119439
7,A_24_P123190,0.00737,1.610000e-06,5.702846,5.007608,1.536447,PLD1,phospholipase D1,1.536447
26,A_24_P191790,0.00997,6.620000e-06,5.248076,3.739782,1.670550,TMEM33,transmembrane protein 33,1.670550
31,A_23_P91390,0.01056,8.380000e-06,5.171775,3.527432,1.072994,THBD,thrombomodulin,1.072994
38,A_23_P212061,0.01065,1.010000e-05,5.110504,3.357084,1.292596,MME,membrane metallo-endopeptidase,1.292596
...,...,...,...,...,...,...,...,...,...
5492,A_23_P406025,0.25815,3.460000e-02,2.194470,-3.836905,1.301753,PRUNE2,prune homolog 2,1.301753
5648,A_23_P254944,0.26540,3.660000e-02,-2.169514,-3.883212,-1.291389,GSTT1,glutathione S-transferase theta 1,1.291389
5731,A_23_P9779,0.26834,3.750000e-02,-2.158027,-3.904392,-1.363289,IRX5,iroquois homeobox 5,1.363289
5841,A_24_P100382,0.27143,3.870000e-02,2.144169,-3.929829,1.000006,GK,glycerol kinase,1.000006
6043,A_23_P357966,0.28140,4.150000e-02,2.112421,-3.987631,1.030558,PCMTD1,protein-L-isoaspartate (D-aspartate) O-methylt...,1.030558

In [18]:
df.shape

(141, 9)

### Differentially Expressed Genes

In [19]:
#number of down regulatd genes
df.loc[df['logFC'] < 0].count()

ID                32
adj.P.Val         32
P.Value           32
t                 32
B                 32
logFC             32
Gene.symbol       32
Gene.title        32
absolute_logFC    32
dtype: int64

In [20]:
#number of up regulated genges
df.loc[df['logFC'] > 0].count()

ID                109
adj.P.Val         109
P.Value           109
t                 109
B                 109
logFC             109
Gene.symbol       109
Gene.title        109
absolute_logFC    109
dtype: int64

In [21]:
df_downRegulated = df.loc[df['logFC'] < 0]

In [22]:
df_upRegulated = df.loc[df['logFC'] > 0]

In [23]:
df_downRegulated.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
133,A_23_P348257,0.01988,0.000066,-4.501782,1.679898,-1.251253,NUAK1,NUAK family kinase 1,1.251253
198,A_32_P159989,0.02280,0.000112,-4.324853,1.200479,-1.012997,NKAPP1,NFKB activating protein pseudogene 1,1.012997
242,A_23_P145657,0.02528,0.000150,-4.226515,0.936227,-1.002613,STAG3,stromal antigen 3,1.002613
268,A_23_P100022,0.02685,0.000177,-4.169680,0.784305,-1.143446,SV2B,synaptic vesicle glycoprotein 2B,1.143446
327,A_24_P922261,0.02984,0.000239,-4.069737,0.518707,-1.295070,SRGAP1,SLIT-ROBO Rho GTPase activating protein 1,1.295070

In [24]:
df_upRegulated.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
5,A_23_P324718,0.00586,8.580000e-07,5.904928,5.570423,1.119439,SYNJ1,synaptojanin 1,1.119439
7,A_24_P123190,0.00737,1.610000e-06,5.702846,5.007608,1.536447,PLD1,phospholipase D1,1.536447
26,A_24_P191790,0.00997,6.620000e-06,5.248076,3.739782,1.670550,TMEM33,transmembrane protein 33,1.670550
31,A_23_P91390,0.01056,8.380000e-06,5.171775,3.527432,1.072994,THBD,thrombomodulin,1.072994
38,A_23_P212061,0.01065,1.010000e-05,5.110504,3.357084,1.292596,MME,membrane metallo-endopeptidase,1.292596

In [25]:
df_downRegulated['Gene.symbol'].nunique()

30

In [26]:
df_downRegulated['Gene.symbol'].unique()

array(['NUAK1', 'NKAPP1', 'STAG3', 'SV2B', 'SRGAP1', 'MACROD2', 'ZC2HC1A',
       'PLEKHN1', 'FRMD4A', 'FAM107A', 'TMEM245', 'ZDHHC21', 'GZMH',
       'VSIG4', 'LOC100507103', 'CA12', 'AIF1L', 'GLIPR1L2', 'HRK',
       'RNASE1', 'GSTM3', 'TRGV7', 'FN1', 'LOC283454', 'CABP7', 'DNAH7',
       'FNBP1L', 'BNC2', 'GSTT1', 'IRX5'], dtype=object)

In [27]:
df_upRegulated['Gene.symbol'].nunique()

102

In [28]:
df_upRegulated['Gene.symbol'].unique()

array(['SYNJ1', 'PLD1', 'TMEM33', 'THBD', 'MME', 'PRKAR1A', 'PROSER2',
       'TMEM165', 'CCR1', 'PELI1', 'PHC3', 'TMEM87B', 'NAMPT', 'CCNG2',
       'F2RL1', 'OSBPL8', 'TMEM30A', 'CD46', 'TLR4', 'C9orf72', 'GCA',
       'DOCK4', 'PPM1B', 'ARHGAP6', 'PTP4A1', 'CXCL6', 'PTGS2', 'CPEB2',
       'EXOC5', 'LOC100288675', 'GUCY1B3', 'MAP4K3', 'RHOT1', 'PPM1H',
       'HDC', 'LOC389831', 'DKFZP434I0714', 'GCH1', 'PHIP', 'WLS',
       'GSKIP', 'RPRD1A', 'CCNT2', 'SLC18A2', 'ARL13B', 'ABCC5', 'SCML1',
       'COL4A3', 'ATP11A', 'SPDYE1', 'SENP7', 'NRP1', 'ZNF711', 'CNTLN',
       'KLF5', 'LOC643441', 'LMAN1', 'CHI3L1', 'MGAM', 'FAM199X',
       'SLC37A3', 'CUX2', 'TIFA', 'ZBTB18', 'KCNS1', 'MS4A2', 'KLHL2',
       'CASC4', 'NHS', 'HOOK1', 'FAM126B', 'SLC4A10', 'CASD1', 'CPSF6',
       'MPZL2', 'AVPR1A', 'PLA2G7', 'LINC00189', 'NCOA2', 'LINC00662',
       'SPAG1', 'CXCL5', 'RIPK4', 'GPR20', 'SNX16', 'ADAMTS16', 'BEND2',
       'PROSER2-AS1', 'USP32P1', 'ALOX15', 'GALC', 'LRRN1', 'OR2T8',
       'SLC28A3', 'FLJ42393', 'SYCP2', 'ST20-AS1', 'RFPL1S', 'KAZN',
       'PRUNE2', 'GK', 'PCMTD1'], dtype=object)

In [29]:
df_downRegulated.reset_index(inplace=True)

In [30]:
df_upRegulated.reset_index(inplace=True)

In [31]:
df_downRegulated.head()

,index,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,133,A_23_P348257,0.01988,0.000066,-4.501782,1.679898,-1.251253,NUAK1,NUAK family kinase 1,1.251253
1,198,A_32_P159989,0.02280,0.000112,-4.324853,1.200479,-1.012997,NKAPP1,NFKB activating protein pseudogene 1,1.012997
2,242,A_23_P145657,0.02528,0.000150,-4.226515,0.936227,-1.002613,STAG3,stromal antigen 3,1.002613
3,268,A_23_P100022,0.02685,0.000177,-4.169680,0.784305,-1.143446,SV2B,synaptic vesicle glycoprotein 2B,1.143446
4,327,A_24_P922261,0.02984,0.000239,-4.069737,0.518707,-1.295070,SRGAP1,SLIT-ROBO Rho GTPase activating protein 1,1.295070

In [32]:
df_downRegulated.drop(['index'],axis=1,inplace=True)

C:\Users\asifn\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [33]:
df_upRegulated.head()

,index,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,5,A_23_P324718,0.00586,8.580000e-07,5.904928,5.570423,1.119439,SYNJ1,synaptojanin 1,1.119439
1,7,A_24_P123190,0.00737,1.610000e-06,5.702846,5.007608,1.536447,PLD1,phospholipase D1,1.536447
2,26,A_24_P191790,0.00997,6.620000e-06,5.248076,3.739782,1.670550,TMEM33,transmembrane protein 33,1.670550
3,31,A_23_P91390,0.01056,8.380000e-06,5.171775,3.527432,1.072994,THBD,thrombomodulin,1.072994
4,38,A_23_P212061,0.01065,1.010000e-05,5.110504,3.357084,1.292596,MME,membrane metallo-endopeptidase,1.292596

In [34]:
df_upRegulated.drop(['index'],axis=1,inplace=True)

In [35]:
df_upRegulated.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title,absolute_logFC
0,A_23_P324718,0.00586,8.580000e-07,5.904928,5.570423,1.119439,SYNJ1,synaptojanin 1,1.119439
1,A_24_P123190,0.00737,1.610000e-06,5.702846,5.007608,1.536447,PLD1,phospholipase D1,1.536447
2,A_24_P191790,0.00997,6.620000e-06,5.248076,3.739782,1.670550,TMEM33,transmembrane protein 33,1.670550
3,A_23_P91390,0.01056,8.380000e-06,5.171775,3.527432,1.072994,THBD,thrombomodulin,1.072994
4,A_23_P212061,0.01065,1.010000e-05,5.110504,3.357084,1.292596,MME,membrane metallo-endopeptidase,1.292596

In [36]:
writer = pd.ExcelWriter('preeclamsiaGSE48424DEG_Pvalue.xlsx',engine='xlsxwriter')

In [37]:
df_downRegulated.to_excel(writer,sheet_name='downRegulated')

In [38]:
df_upRegulated.to_excel(writer,sheet_name='upRegulated')

In [39]:
writer.save()
writer.close()